User email: <%= @user.email %> <br>
User since: <%= @user.created_at %> <br>
Last sign in: <%= @user.last_sign_in_at %> <br>
<h2>Items</h2>

<ol>
<%= render @user.items %>
</ol>



<%= render partial: "/items/form", locals: {item: @user.items.new } %>
